[submodule "vim/vim/pack/editor/start/jedi-vim.git"]
	path = vim/vim/pack/editor/start/jedi-vim.git
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/vim/pack/editor/start/neocomplcache.vim.git"]
	path = vim/vim/pack/editor/start/neocomplcache.vim.git
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim/vim/pack/editor/start/nerdcommenter.git"]
	path = vim/vim/pack/editor/start/nerdcommenter.git
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/pack/editor/start/nerdtree.git"]
	path = vim/vim/pack/editor/start/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/pack/editor/start/vim-airline.git"]
	path = vim/vim/pack/editor/start/vim-airline.git
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim/pack/editor/start/vim-nerdtree-tabs.git"]
	path = vim/vim/pack/editor/start/vim-nerdtree-tabs.git
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/vim/pack/themes/start/Vim-Xcode-Theme.git"]
	path = vim/vim/pack/themes/start/Vim-Xcode-Theme.git
	url = https://github.com/Addisonbean/Vim-Xcode-Theme.git
[submodule "vim/vim/pack/themes/start/molokai.git"]
	path = vim/vim/pack/themes/start/molokai.git
	url = https://github.com/tomasr/molokai.git
[submodule "vim/vim/pack/themes/start/vim-solarized8.git"]
	path = vim/vim/pack/themes/start/vim-solarized8.git
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/vim/pack/themes/start/vim-quantum.git"]
	path = vim/vim/pack/themes/start/vim-quantum.git
	url = https://github.com/tyrannicaltoucan/vim-quantum.git
[submodule "vim/vim/pack/themes/start/vim-wombat256mod.git"]
	path = vim/vim/pack/themes/start/vim-wombat256mod.git
	url = https://github.com/michalbachowski/vim-wombat256mod.git
